page-apply {
  .apply-bg {
  	font-family: Arial;
  	
  	padding: 50px;
  }

  .page-logo{
  	background:transparent;
  }

  .item-transparent{
    background: transparent;
    color: #000;
  }
  .round{
    border-radius: 15px;
    border: solid white;
  }
  .center{
     margin: auto;
     display: block;
  }
  .large-text{
    font-size: 3em; 
    text-align: center;
  }
  .bold{
    font-weight: bold;
  }
  .footer{

   position:fixed;
   bottom:0;
   height:50px;
  }
}
