page-home{

	.panel{
		color: white;
		background: url('assets/pattern.png');
		height: 120px;
	}

	.white{
		color: #ffffff;
		font-size: 200%;
	}


	
	.menu-text{
		color: teal;
	}

	ion-icon {
        font-size: 100px; //Preferred size here
    }


}