page-activation {
.activation-panel{
	color: white;
	background-color: red;
	height: 50px;
	font-size: 150%;
}

.panel{
	color: white;
	background-color: #3498db;
	height: 130px;
}
.transparent{
	background: transparent;
}
  .item-transparent{
    background: transparent;
    color: #000;
  }
.white{
	color: #ffffff;
	font-size: 200%
}


}
